html body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
}

main {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

form input{
    position: relative;
    justify-self: center;
}

footer {
    width: 100vw;
    height: 48px;
    position: fixed;
    bottom: 0;
    background-color: #F2F2F2;
    font-size: 14px;
}

a {
    text-decoration: none;
}

header a {
    color: #3F3F3F;
    font-size: 12px;
}

footer a {
    color: #5F6368;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding: 0 8px;
}

#left-nav {
    justify-content: center;
    align-items: center;
    float: left;
}

#right-nav {
    justify-content: center;
    align-items: center;
    float: right;
}

#logo {
    align-self: center;
}

#search-bar {
    border: thin solid lightgray;
    border-radius: 28px;
    padding: 4px 12px;
    margin: 40px 8px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 600px;
}

#search-bar:hover {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#search-form {
    position: absolute;
    left: 48px;
    width: 85%;
    height: 15%;
    border: 0;
}

#magnifying-glass {
    position: absolute;
    bottom: 23%;
    left: 16px;
}

#microphone {
    position: absolute;
    bottom: 23%;
    right: 16px;
}

#search-button {
    position: absolute;
    left: 25%;
    border: 0;
    border-radius: 6px;
    padding: 12px 24px;
}

#search-button:hover {
    border: thin solid gray;
    background-color: lightgray;
    color: black;
}

#lucky-button {
    position: absolute;
    right: 25%;
    border: 0;
    border-radius: 6px;
    padding: 12px 24px;
}

#lucky-button:hover {
    border: thin solid gray;
    background-color: lightgray;
    color: black;
}

#right-footer {
    float: right;
}
#left-footer {
    float: left;
}

#sign-in-button {
    border: 0;
    padding: 8px 16px;
    background-color: #4583ED;
    color: white;
}